<%= form_for(@confession) do |f| %>
  <% if @confession.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@confession.errors.count, "error") %> prohibited this confession from being saved:</h2>

      <ul>
      <% @confession.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :item, 'Confess the worst thing you ate today...' %><br />
    <%= f.text_field :item %>
  </div>
  <!--
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  -->
  
  <div class="actions">
    <%= f.submit "Forgive Yourself" %>
  </div>
<% end %>
