<h1>Listing confessions</h1>

<table>
  <tr>
    <th>Item</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @confessions.each do |confession| %>
  <tr>
    <td><%= confession.item %></td>
    <td><%= confession.user_id %></td>
    <td><%= link_to 'Show', confession %></td>
    <td><%= link_to 'Edit', edit_confession_path(confession) %></td>
    <td><%= link_to 'Destroy', confession, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Confession', new_confession_path %>
